<div @fadeIn id="th-home__gd" class="container d-flex flex-column justify-content-center align-items-center thh-main__color">
    <div class="row container d-flex justify-content-around">
        <div class="col-md-auto text-center text-light">
            <h2 class="mb-4">Front End & Web Analytics Developer</h2>
          <p class="thh-about__ng">Eu sou um desenvolvedor Front End e tenho trabalhado em projetos que tem impactado em centenas de pessoas pelo Brasil e automatizei processos na área do marketing digital. 
            Participei do desenvolvimento de algumas features e aplicações web, além de interfaces para testes AB, personzalizações com enfaze na área de dados. Atualmente estou trabalhando em projetos usando Angular, integrado com Flask e Django, que são frameworks de Python voltados para o desenvolvimento web. 
            Meu objetivo é aprender novas tecnologias e aprimorar minhas habilidades em desenvolvimento de software.
            </p>
        </div>
      </div>
</div>