<div @fadeIn id="th-home__gd" class="container d-flex flex-column justify-content-center align-items-center thh-main__color">
    <div class="row container d-flex justify-content-around">
        <div class="col-md-auto d-flex flex-column justify-content-center align-items-center">
          <img id="th-home__img" src="../../assets/thcarvalho.jpeg" height="250" width="250" alt="">
        </div>
        <div class="col-md-auto d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="50">
          <h3 class="text-light d-flex flex-column justify-content-center align-items-center text-center mt-3">Olá, eu sou um desenvolvedor Front End & Web Analytics.</h3>
          <h4 class="text-light d-flex flex-column justify-content-center align-items-center text-center">Estou situado em São Paulo, Brasil.</h4>
        </div>
      </div>
</div>